# Build artefacts
*.xpi
metadata-mender-src.tar.gz

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Node
node_modules/
npm-debug.log*

# Quarto
/docs/_site/
/docs/.quarto/
.quarto/

*.tmp
*.log
*~
*.bak
*.orig
